VITE_FIREBASE_API_KEY=AIzaSyAMlx4lU1wCBLqLIBPRYndRcWl2niTwi4E
VITE_FIREBASE_AUTH_DOMAIN=icu-beds-fbc69.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=icu-beds-fbc69
VITE_FIREBASE_STORAGE_BUCKET=icu-beds-fbc69.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=778379536926
VITE_FIREBASE_APP_ID=1:778379536926:web:cf3c1cd305878c6adc5c0f
